{% extends "layout.html" %}
{% set active_page = "home" %}
{% set title = "Daan Lebens | Home" %}
{% block title %}
<section id="title" class="peach">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Contact</h1>

				<p>Alles wat U wel en niet wil weten rond mijn persoontje.</p>
			</div>
		</div>
	</div>
</section><!--/#title-->
<iframe width="100%" height="215px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2509.3231861437407!2d5.7746431000000005!3d51.0286514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0c60505008fab%3A0xe3d11a96709b8eaa!2sHarrecoven+18%2C+6125+AP+Obbicht!5e0!3m2!1sen!2snl!4v1440006243283"></iframe>
{% endblock %}

{% block body %}
		<p>Bedankt voor uw bericht, ik zal zo spoedig mogelijk contact met U opnemen.</p>
{% endblock %}
