{% extends "layout.html" %}
{% set active_page = "about" %}
{% set title = "Daan Lebens | Over mij" %}
{% block title %}
<section id="title" class="peach">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Over mij</h1>

				<p>Alles wat U wel en niet wil weten rond mijn persoontje.</p>
			</div>
		</div>
	</div>
</section><!--/#title-->
{% endblock %}
{% block body %}
<div class="col-lg-7">
	<div class="col-lg-5 col-md-6 col-sm-12">
		<img class="img-responsive" src="{{ url_for('static', filename='images/about_1.jpg') }}"/>
	</div>
	<p>Mijn naam is Daan Lebens, 28 jaar, uit het Zuiden des Lands en ben actief als kunstschilder en blueszanger.</p>

	<p><a href="{{ url_for_paintings }}">Mijn schilderijen</a> zijn een soloproject, ook altijd zodanig geweest. Als
		autodidact van start gegaan en mezelf
		blijven uitdagen. Plezier en passie komen samen in het altijd blijven proberen het komende schilderij weer nét
		iets mooier te krijgen dan het vorige. Het is een bron van rust, mogelijkheid tot uiten en soms ook andere
		mensen hun woon- of werkruimte te helpen het meer als eigen te laten ervaren. Ik ben er blij mee dat ik daar
		mijn steentje aan bij mag dragen.</p>

	<p>Daarnaast ben ik als zanger actief in 2 verschillende bands. Allereerst is er Liquor Lebens and the Booze Boys
		(LL+BB). Dit is een lokale Roots-Bluesband. In oorspronkelijke vorm met authentieke stijl, is deze band een
		grote ode aan de blueshelden van weleer, zoals John Lee Hooker, Cuby+Blizzards, Freddie King, en vele anderen.
		Samen met mijn medemuzikanten Chris Ariaans (gitaar), Dolf Strijkers (contrabas) en Tim Gerrits (drums) staat
		LL+BB gegarandeerd voor de authentieke blues van weleer… in een gezellige borrelsfeer.</p>

	<p>Ook zing ik in de recent opgerichte band Damp’ Loose. Een unieke mix van Nederlanders en Belgen en ervaren
		muzikanten en talenten, is hier een wat breder scala de stijl van de band. Blues, Bluesrock, Rock en zelfs af en
		toe een kleine uitstap naar country maken van Damp’ Loose een gevarieerde mix Americana. Ik ben er dan ook trots
		op om de vocale lijn te bezorgen bij topmuzikanten als drummer Robert Theys, bassist Jan Vermeulen (allebei
		bekend van de Belgische succesformatie ‘the catsmokes’) en de zeer getalenteerde rookie Tom Theunissen.</p>

	<div class="col-lg-6 col-md-8 col-sm-12" style="float: right">
		<img class="img-responsive" src="{{ url_for('static', filename='images/about_2.jpg') }}"/>
	</div>

	<p>Voor fragmenten van Damp’Loose, LL+BB en ook enkele zijdelingse opnames/muzikale projecten kunt u bij <a
			href="{{ url_for_music }}">Muziek</a>
		terecht.</p>

	<p>Geïnteresseerd in een schilderij of het boeken van LL+BB dan wel Damp’ Loose? Neem gerust vrijblijvend contact
		met mij op via <a href="{{ url_for_contact }}">de contactpagina</a>, en ik zal zo snel mogelijk reageren.</p>
</div>

<div class="col-lg-offset-1"></div>
<div class="col-lg-4">
	<h4>Komende optredens</h4>
	<table class="table table-condensed table-striped table-responsive">
		<thead>
		<tr>
			<th>Wanneer</th>
			<th>Band</th>
			<th>Waar</th>
		</tr>
		</thead>
		<tbody>
		{% if gigs %}
		{% for gig in gigs %}
		<tr>
			<td>{{ gig.date.strftime('%-d %b %Y %-H:%M') }}</td>
			<td>{{ gig.band }}</td>
			<td><a target="_blank" href="{{ 'https://www.google.nl/maps/place/' + gig.location|replace(' ','+') }} ">{{
				gig.location }}</a></td>
		</tr>
		<tr>
			<td colspan="3">
				<p style="font-size: 12px"> Opmerkingen: {{ gig.notes }}</p>
				{% if session.is_admin %}
				<p>
					<a href="{{ url_for('gig_detail', id=gig.key.id()) }}" class="btn btn-info">Edit</a>
					<a href="{{ url_for('gig_delete', id=gig.key.id()) }}" class="btn btn-danger">Delete</a>
				</p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="3">Geen optredens gepland</td>
		</tr>
		{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}
