{% extends "layout.html" %}
{% set active_page = "about" %}
{% set title = "Daan Lebens | Over mij" %}
{% block title %}
<section id="title" class="peach">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Over mij</h1>

				<p>Alles wat U wel en niet wil weten rond mijn persoontje.</p>
			</div>
		</div>
	</div>
</section><!--/#title-->
{% endblock %}
{% block body %}
<div class="col-lg-7">
	<div class="col-lg-5">
		<img class="img-responsive" src="{{ url_for('static', filename='images/Daan_website.jpg') }}"/>
	</div>
	<p>Mijn naam is Daan Lebens, 28 jaar en heb inmiddels de nodige ervaring als kunstschilder en blueszanger.</p>

	<p>Mijn schilderijen zijn een soloproject, ook altijd zodanig geweest. Als autoditact van start gegaan en mezelf
		blijven uitdagen. Wanneer passie en doorzettingsvermogen samen gaan met een beetje verstandig uitkiezen van de
		juiste bronnen kun je jezelf aardig wat leren. Ik wil mezelf dan ook graag blijven doorontwikkelen.</p>

	<p>Ik ben als zanger actief in 2 verschillende bands. Liquor Lebens and the Booze Boys (LL+BB) is een lokale
		rootsbluesband. In oorspronkelijke vorm met authentieke stijl, isdeze band een grote ode aan de blueshelden van
		weleer, zoals john lee hooker, cuby+blizzards, Freddie King, en vele anderen.</p>

	<p>Daarnaast zing ik ook in de band Damp’ Loose. Een unieke mix van Nederlanders en Belgen, ervaren muzikanten en
		talenten, is hier een wat breder scala de stijl van de band. Blues, Bluesrock, Rock en zelfs af en toe een
		knipoog naar coutry maken van Damp’ Loose een gevarieerde mix Americana.</p>

	<p>Geinteresseerd in een schilderij of het boeken van LL+BB dan wel Damp’ Loose? Neem gerust vrijblijvend contact
		met mij op via de contactpagina, en ik zal zo snel mogelijk reageren.</p>
</div>

<div class="col-lg-offset-1"></div>
<div class="col-lg-4">
	<h4>Komende optredens</h4>
	<table class="table table-condensed table-striped table-responsive">
		<thead>
		<tr>
			<th>Wanneer</th>
			<th>Band</th>
			<th>Waar</th>
		</tr>
		</thead>
		<tbody>
		{% if gigs %}
		{% for gig in gigs %}
		<tr>
			<td>{{ gig.date.strftime('%-d %b %Y %-H:%M') }}</td>
			<td>{{ gig.band }}</td>
			<td><a target="_blank" href="{{ 'https://www.google.nl/maps/place/' + gig.location|replace(' ','+') }} ">{{ gig.location }}</a></td>
		</tr>
		<tr>
			<td colspan="3">
				<p style="font-size: 12px"> Opmerkingen: {{ gig.notes }}</p>
				{% if session.is_admin %}
				<p>
					<a href="{{ url_for('gig_detail', id=gig.key.id()) }}" class="btn btn-info">Edit</a>
					<a href="{{ url_for('gig_delete', id=gig.key.id()) }}" class="btn btn-danger">Delete</a>
				</p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="3">Geen optredens gepland</td>
		</tr>
		{% endif %}
		</tbody>
	</table>
</div>
{% endblock %}
