{% extends "layout.html" %}
{% set active_page = "about" %}
{% set title = "Daan Lebens | Over mij" %}
{% block title %}
<section id="title" class="peach">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Over mij</h1>

				<p>Damn I'm sexy :)</p>
			</div>
		</div>
	</div>
</section><!--/#title-->
{% endblock %}
{% block body %}
<form action="" method="post" class="form-horizontal" role="form" name="create-music">
	{{ form.hidden_tag() }}
	<div class="form-group">
		<label class="control-label col-sm-2" for="date">Wanneer:</label>
		<div class="col-sm-10">
			<input id="{{ form.date.id }}" name="{{ form.date.name }}" type="text" class="form-control" value="{{ form.date.data }}">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="band">Band</label>
		<div class="col-sm-10">
			<input id="{{ form.band.id }}" name="{{ form.band.name }}" type="text" class="form-control" value="{{ form.band.data }}">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="location">Waar:</label>
		<div class="col-sm-10">
			<input id="{{ form.location.id }}" name="{{ form.location.name }}" type="text" class="form-control" value="{{ form.location.data }}">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="notes">Extra opmerkingen:</label>
		<div class="col-sm-10">
			<textarea id="{{ form.notes.id }}" name="{{ form.notes.name }}" type="text" class="form-control">{{ form.notes.data }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Aanpassen</button>
		</div>
	</div>
</form>
{% endblock %}
