{% extends "layout.html" %}
{% set active_page = "home" %}
{% set title = "Daan Lebens | Home" %}
{% block title %}
	<section id="title" class="peach">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Home</h1>

					<p>Welkom op mijn website!</p>
				</div>
			</div>
		</div>
	</section><!--/#title-->
{% endblock %}
{% block body %}
<p>Welkom op mijn geheel vernieuwde website. Deze is nu ook toegankelijk voor tablets en smartphones!</p>
<p>Op deze website zijn voorbeelden van mijn schilderijen te vinden. Geinterreseerd in een van de doeken of zelf ideeen voor een handgemaakt schilderij, volledig naar eigen wens? Niets is te gek, neem gerust contact met mij.</p>
<p>Daarnaast is er uiteraard ook genoeg blues te vinden. Onder de kop muziek zijn dan ook fragmenten te vinden van de beide bands waar ik als zanger actief ben: LL+BB en Damp’ Loose. Ook staat mijn concertagenda online, zodat u geen optreden hoeft te missen!</p>
<p>Neus dus gerust naar hartenlust rond, er is genoeg te ontdekken. Veel plezier op de website, en All the Best!</p>
{% endblock %}
