{% extends "layout.html" %}
{% set active_page = "paintings" %}
{% set title = "Daan Lebens | Schilderijen" %}
{% block title %}
<section id="title" class="peach">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Schilderijen</h1>

				<p class="title">Zelf een handgemaakt olieverfschilderij thuis? Naar eigen wens? Eindeloze mogelijkheden! Neem gerust vrijblijvend <a href="{{ url_for_contact }}"> contact</a> op!</p>
			</div>
		</div>
	</div>
</section><!--/#title-->
{% endblock %}
{% block body %}
<br>
<div>
	{% for painting, image in entries %}
	<div style="float: left; margin-right: 10px">
		<img style="width: 200px; height: 200px; " class="img-responsive" src="{{ image }}">
		<div style="margin-bottom: 10px">
			<a href="{{ url_for('painting_detail', id=painting.key.id()) }}" class="btn btn-info">Aanpassen</a>
			<a href="{{ url_for('painting_delete', id=painting.key.id()) }}" class="btn btn-danger">Verwijder</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

