{% extends "layout.html" %}
{% set active_page = "paintings" %}
{% set title = "Daan Lebens | Schilderijen" %}
{% block title %}
<section id="title" class="peach">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Schilderijen</h1>

				<p>Zie hier mijn creaties... It's alive, it's alive!!!</p>
			</div>
		</div>
	</div>
</section><!--/#title-->
{% endblock %}
{% block body %}
<br>
<div>
	{% for painting, image in entries %}
	<div style="float: left; margin-right: 10px">
		<img style="width: 200px; height: 300px" class="img-responsive" src="{{ image }}">
		<a href="{{ url_for('painting_detail', id=painting.key.id()) }}" class="btn btn-info">Aanpassen</a>
		<a href="{{ url_for('painting_delete', id=painting.key.id()) }}" class="btn btn-danger">Verwijder</a>
	</div>
	{% endfor %}
</div>
{% endblock %}

